@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer components {
    .stack {
        @apply flex
        gap-4
    }

    .stack-start-col {
        @apply flex
        flex-col
        items-start
        justify-start
    }

    .stack-center {
        @apply flex
        items-center
        justify-center
    }

    .stack-center-col {
        @apply flex
        flex-col
        items-center
        justify-center
    }

    .btn-primary {
        @apply inline-flex
        items-center
        justify-center
        font-semibold
        rounded-full
        transition-colors
        bg-btn-primary
        hover:bg-btn-primary-hover
        text-white
        text-xs
        md:text-sm
        lg:text-base
        px-6
        py-2.5;
    }
}


